body{
  background-color: hsl(226, 43%, 10%);
}

.principal{
  width: 60%;
  margin:  0 auto;
  margin-top: 30px;
  font-family: 'Rubik', sans-serif;
  height: 55em;
}


.box__perfil{
  background-color: hsl(246, 80%, 60%);
  border-radius: 7px;
  width: 100%;
  height: 5em;
  box-shadow: hsl(235, 46%, 20%) 0 45px 0;
  display: flex;
}

.imagem__perfil{
  padding: 15px;
}

.nome{
  display: flex;
  flex-direction: column;
  color: hsl(236, 100%, 87%);
  justify-content: center;
}

.titulo__box{
  font-weight: 300;
  font-size: 14px;
}

.nome__box{
  font-size: 18px;
  font-weight: 300;
  color: white;
}

.semanas__box{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 15px;
  color: hsl(236, 100%, 87%);
  cursor: pointer;
}

.diarias:hover, .mensal:hover, .semanal:hover{
  color: white;
  font-size: 20px;
}

.box__horas-templete{
  width: 100%;
  height: 25px;
  background-color: hsl(15, 100%, 70%);
  border-radius: 7px;
  height: 3em;
  display: flex;
  margin-top: 40px;
  background-image: url(images/icon-work.svg);
  background-repeat: no-repeat;
  background-size: 5em;
  background-position: right;
}

.box__horas{
  width: 60%;
  height: 70px;
  background-color: hsl(235, 46%, 20%);
  border-radius: 7px;
  position: absolute;
  top: 13em;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.titulo__box{
  color: white;
  font-weight: 500;
  font-size: 14px;
}

.horas__box{
  font-weight: 200;
  font-size: 24px;
  color: white;
  margin-top: 5px;
}

.menu{
  margin-left: 70px;
  margin-bottom: 7px;
}

.ultima__semana{
  font-size: 12px;
  margin-top: 10px;
  color: hsl(236, 100%, 87%);
}


.box__play-templete{
  width: 100%;
  height: 25px;
  background-color: hsl(195, 74%, 62%);
  border-radius: 7px;
  height: 3em;
  display: flex;
  margin-top: 70px;
  background-image: url(images/icon-play.svg);
  background-repeat: no-repeat;
  background-size: 5em;
  background-position: right;
}

.box__play{
  width: 60%;
  height: 70px;
  background-color: hsl(235, 46%, 20%);
  border-radius: 7px;
  position: absolute;
  top: 20.6em;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.box__study-templete{
  width: 100%;
  height: 25px;
  background-color: hsl(348, 100%, 68%);
  border-radius: 7px;
  height: 3em;
  display: flex;
  margin-top: 74px;
  background-image: url(images/icon-study.svg);
  background-repeat: no-repeat;
  background-size: 5em;
  background-position: right;
}

.box__study{
  width: 60%;
  height: 70px;
  background-color: hsl(235, 46%, 20%);
  border-radius: 7px;
  position: absolute;
  top: 28em;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.box__exercise-templete{
  width: 100%;
  height: 25px;
  background-color: hsl(145, 58%, 55%);
  border-radius: 7px;
  height: 3em;
  display: flex;
  margin-top: 74px;
  background-image: url(images/icon-exercise.svg);
  background-repeat: no-repeat;
  background-size: 5em;
  background-position: right;
}

.box__exercise{
  width: 60%;
  height: 70px;
  background-color: hsl(235, 46%, 20%);
  border-radius: 7px;
  position: absolute;
  top: 35.7em;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.box__social-templete{
  width: 100%;
  height: 25px;
  background-color: hsl(264, 64%, 52%);
  border-radius: 7px;
  height: 3em;
  display: flex;
  margin-top: 74px;
  background-image: url(images/icon-social.svg);
  background-repeat: no-repeat;
  background-size: 5em;
  background-position: right;
}

.box__social{
  width: 60%;
  height: 70px;
  background-color: hsl(235, 46%, 20%);
  border-radius: 7px;
  position: absolute;
  top: 43.4em;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.box__self-care-templete{
  width: 100%;
  height: 25px;
  background-color: hsl(43, 84%, 65%);
  border-radius: 7px;
  height: 3em;
  display: flex;
  margin-top: 74px;
  background-image: url(images/icon-self-care.svg);
  background-repeat: no-repeat;
  background-size: 5em;
  background-position: right;
}

.box__self-care{
  width: 60%;
  height: 70px;
  background-color: hsl(235, 46%, 20%);
  border-radius: 7px;
  position: absolute;
  top: 51.1em;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.titulo__box{
  font-size: 18px;
  font-weight: 200;
  color: hsl(236, 100%, 87%);
}

.box__horas-templete-desktop, .box__horas-desktop, .box__study-templete-desktop, .box__play-templete-desktop, .box__play-desktop, .box__study-templete-desktop, .box__study-desktop, .box__exersice-templete-desktop, .box__exersice-desktop, .box__social-templete-desktop, .box__social-desktop, .box__self_care-templete-desktop{
  display: none;
}

.semanas__box-desktop{
  display: none;
}


/* DESKTOP */
@media screen and (min-width: 1366px){
  
  .box__horas-templete, .box__horas, .box__play-templete, .box__play, .box__study-templete, .box__study, .box__exercise-templete, .box__exercise, .box__social-templete, .box__social, .box__self-care-templete, .box__social, .box__self_care-desktop{
    display: none;
  }
  
  .desktop-itens--self_care{
    grid-row: 3;
    grid-column: 7;
  }

  .box__self_care-desktop{
    width: 100%;
    height: 147px;
    background-color: hsl(235, 46%, 20%);
    border-radius: 7px;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  .box__self_care-templete-desktop{
    width: 100%;
    height: 25px;
    background-color: hsl(43, 84%, 65%);
    border-radius: 7px;
    height: 3em;
    display: flex;
    background-image: url(images/icon-self-care.svg);
    background-repeat: no-repeat;
    background-size: 5em;
    background-position: right;
  }

  .desktop-itens--social{
    grid-row: 3;
    grid-column: 5;
  }

  .box__social-templete-desktop{
    width: 100%;
    height: 25px;
    background-color: hsl(264, 64%, 52%);
    border-radius: 7px;
    display: flex;
    height: 3em;
    background-image: url(images/icon-social.svg);
    background-repeat: no-repeat;
    background-size: 5em;
    background-position: right;
  }
  
  .box__social-desktop{
    width: 100%;
    height: 147px;
    background-color: hsl(235, 46%, 20%);
    border-radius: 7px;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  .desktop-itens--exersice{
    grid-row: 3;
    grid-column: 3;
  }

  .box__exersice-desktop{
    width: 100%;
    height: 147px;
    background-color: hsl(235, 46%, 20%);
    border-radius: 7px;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  .box__exersice-templete-desktop{
    width: 100%;
    height: 130px;
    background-color: hsl(145, 58%, 55%);
    border-radius: 7px;
    height: 3em;
    display: flex;
    background-image: url(images/icon-exercise.svg);
    background-repeat: no-repeat;
    background-size: 5em;
    background-position: right;
  }

  .desktop-itens--study{
    grid-column: 7;
  }

  .box__study-desktop{
    width: 100%;
    height: 175px;
    background-color: hsl(235, 46%, 20%);
    border-radius: 7px;
    justify-content: space-around;
    align-items: center;
    display: flex;
  }

  .box__study-templete-desktop{
    width: 100%;
    height: 25px;
    background-color: hsl(348, 100%, 68%);
    border-radius: 7px;
    height: 3em;
    background-image: url(images/icon-study.svg);
    background-repeat: no-repeat;
    background-size: 5em;
    background-position: right;
    display: block;
  }

  .box__play-desktop{
    width: 100%;
    height: 175px;
    background-color: hsl(235, 46%, 20%);
    border-radius: 7px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    
  }

  .box__play-templete-desktop{
    display: block;
    width: 100%;
    height: 25px;
    background-color: hsl(195, 74%, 62%);
    border-radius: 7px;
    height: 3em;
    background-image: url(images/icon-play.svg);
    background-repeat: no-repeat;
    background-size: 5em;
    background-position: right;;
  }

  .desktop-itens--play{
    grid-column: 5;
  }

  .box__horas-templete-desktop{
    width: 100%;
    height: 25px;
    background-color: hsl(15, 100%, 70%);
    border-radius: 7px;
    height: 3em;
    display: flex;
    background-image: url(images/icon-work.svg);
    background-repeat: no-repeat;
    background-size: 5em;
    background-position: right;

  }

  .box__horas-desktop{
    width: 100%;
    height: 175px;
    background-color: hsl(235, 46%, 20%);
    border-radius: 7px;
    display: flex;
    justify-content: space-around;
    align-items: center;

  }
  .desktop-itens{
    display: block;
    grid-column: 3;
  }
  
  .principal{
    width: 85%;
    margin: 0 auto;
    margin-top: 90px;
    height: auto;
  }
  
  .section__perfil{
    display: grid;
    grid-template-columns: 1fr 20px 1fr 20px 1fr 20px 1fr 20px;
    grid-template-rows: 220px 15px 220px;;
  }

  .box__perfil{
   flex-direction: column;
   width: 100%;
   height: 20em;
   justify-content: flex-start;
   box-shadow: hsl(235, 46%, 20%) 0 110px 0;
  }

  .imagem__perfil{
    width: 90px;
    margin-left: 17px;
    margin-top: 25px;
    margin-bottom: 15px;
  }

  .semanas__box{
    display: none;
  }

  .semanas__box-desktop{
    display: grid;
    width: 120px;
    font-size: 18px;
    margin-top: 90px;
    color: hsl(236, 100%, 87%);
    margin-left: 20px;
  }

  .nome{
    margin-left: 30px;
    width: 150px;
  }

  .titulo__box{
    font-size: 18px;
    font-weight: 500;
    color: hsl(236, 100%, 87%);
  }

  .nome__box{
    font-size: 30px;
    margin-top: 5px;
  }

  .diarias, .semanal{
    margin-bottom: 10px;
  }

  .box__horas-templete{
    width: 25%;
    height: 5em;
  }

  .horas__box{
    font-weight: 200;
    font-size: 55px;
    color: white;
    margin-top: 20px;
  }

  .ultimas__horas{
    height: 95px;
  }
}

